* {
  margin:0px;
  padding:0px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
