@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
* {
  margin:0px;
  padding:0px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Faculty Glyphic", sans-serif;
}
main{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  flex-direction: column;
}
a>img{
  width: 5vw;
  height: 5vw;
  background-szie: 100%;
}
